:root {
  --blurSize: 5pt;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10pt;
  margin-left: 0pt;
  margin-right: 0pt;
}
.settingsSection {
  color: #444;
  margin-bottom: 0;
  padding-bottom: 8pt;
  border-bottom: 1pt solid gray;
  /*background-color: white;*/
}
#GraphSettings {
  margin-top: 10pt;
  margin-bottom: 10pt;
  /*background-color: red;*/
  /*background: linear-gradient(to bottom, transparent 0%, transparent 95%, #D9D9D988 110%);*/
}
#GraphSettings > h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.settingsSection:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
/*.settingsSection > select {
  margin-top: 0;
  padding-top: 0;
}*/

.sectionTitle {
  font-size: 13pt;
  /*background-color: red;*/
  margin-top: 4pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
}
.settingsSection > h5 {
  font-size: 11pt;
  margin-top: 4pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
}
.settingsSection > input {
  font-size: 12pt;
  /*background-color: blue;*/
  /*padding-top: -5pt;*/
  /*font-weight:*/
}
.settingsSection > label {
  margin-left: 2pt;
  /*background-color: blue;*/
  font-size: 12pt;
  /*font-weight:*/
}

.settingsSection > select, .settingsSection > select {
  font-size: 12pt;
  /*background-color: red;*/
}
/*button {
  margin-top: 4pt;
}*/

canvas {
  border-radius: 10pt 0pt 0pt 10pt;
  background: linear-gradient(to right, #E5E0FF, #FFE0F3);
  transition: 0.1s;
  
}
.canvasArea {
  display: flex;
  position: relative;
  overflow: hidden;
}
.canvasContainer {
  margin-left: 10pt;
}


.menuArea {
  flex-grow: 1;
  margin-right: 10pt;
  padding-left: 15pt;
  padding-right: 15pt;
  background: linear-gradient(to right, #EBEBEB, #D9D9D9);
  border-radius: 0pt 10pt 10pt 0pt;
  border-left: 2pt solid darkgray;
}