.algorithmControls {
    position: absolute;
    bottom: 0;
    background-color: #777;
    left:5%;
    width:65%;
    color:white;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 0;
    align-items: center;
    padding: 10pt;
}
.slider {
        border-radius: 50pt;
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 80%; /* Full-width */
        height: 20pt; /* Specified height */
        background: #d3d3d3A0; /* Grey background */
        outline: none; /* Remove outline */
        -webkit-transition: .1s; /* 0.2 seconds transition on hover */
        transition: background .1s;
        margin-top: 5pt;
    }

    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
        background: #d3d3d3FF; /* Grey background */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    border-radius: 50pt;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20pt; /* Set a specific slider handle width */
    height: 20pt; /* Slider handle height */
    background: #2149C1D0; /* Green background */
    cursor: pointer; /* Cursor on hover */
    transition: 0.1s;
}
  .slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20pt; /* Set a specific slider handle width */
    height: 20pt; /* Slider handle height */
    background: #4169E1FF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}