/* Gaveta de ferramentas */
.toolTray {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: bottom ease-in-out 150ms;
  width: 65%;
  /*background-color: green;*/
}

/* Puxador */
.toolTrayTab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 15pt;
  max-width: 10vw;
  border-top-left-radius: 5pt;
  border-top-right-radius: 5pt;
  /*background-color: red;*/
}

.toolTrayCaretUp, .toolTrayCaretDown {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#tray:not(:target) {
  bottom: 0vh;
}

#tray:target {
  bottom: calc(-80pt + 10pt);
}

/* Terra de ninguém */
#tray:target > .toolTrayTab > .toolTrayCaretDown {
  display: none;
}
#tray:target > .toolTrayTab > .toolTrayCaretUp {
  display: block;
}

#tray:not(:target) > .toolTrayTab > .toolTrayCaretUp {
  display: none;
}

#tray:not(:target) > .toolTrayTab > .toolTrayCaretDown {
  display: block;
}


.toolTrayBody {
  width: 100%;
  /*height: 70pt;*/
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /*align-content: center;*/
  justify-content: space-between;
  column-gap: 20px;
  border-top-right-radius: 8pt;
  padding: 10pt 5pt;
  overflow: hidden;
  font-size: 11pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /*background-color: blue;*/
  /*padding-bottom: 0;*/
}

.toolTrayBody > div > input {
  display: none;
  background-color: blue;
}
#leftItems {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
}
#rightItems {
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
}
.toolTrayBody > div label {
  cursor: pointer;
  color: white;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*background-color: lightblue;*/
  margin-left: 4pt;
  margin-right: 4pt;
}

:root {
  --iconSize: 32.5pt;
}
.icon {
  border-radius: 8pt;
  min-width:  var(--iconSize);
  max-width:  var(--iconSize);
  min-height: var(--iconSize);
  max-height: var(--iconSize);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: orangered;*/
}

.tool-icon {
  border: 2pt solid white;
}

.tool-icon:hover {
  background-color: #FFF4;
}

.tool-icon:active, .toolTrayBody > div > input:checked+label > *:first-child {
  background-color: white;
  color: black;
}

.feature-icon {
  border: 2.5pt solid white;
}

.selected {
  border: 2pt dashed white;
  border-radius: 10pt;
}

/*.selected > svg {
  fill: #5C87FF;
}*/

.name {
  margin: 0;
  margin-top: 5pt;
  text-align: center;
  /*background-color: red;*/
}