.algorithmControls {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    left:0;
    margin: 0 auto;
    right: 0;
    width:fit-content;
    color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.algorithmContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 13pt;
    min-width: 300pt;
}


.algorithmButtons {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10pt 20pt 0;
}

.algorithmButtons > a {
    cursor: pointer;
    margin-left: 5pt;
    margin-right: 5pt;
}

.algorithmProgress {
    border-radius: 50pt;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40%; /* Full-width */
    height: 5pt; /* Specified height */
    background: #d3d3d3A0; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .1s; /* 0.2 seconds transition on hover */
    transition: background .1s;
    margin-top: 5pt;
}

/* Mouse-over effects */
.algorithmProgress:hover {
    opacity: 1; /* Fully shown on mouse-over */
    background: #d3d3d3FF; /* Grey background */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.algorithmProgress::-webkit-slider-thumb {
    border-radius: 50pt;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15pt; /* Set a specific slider handle width */
    height: 15pt; /* Slider handle height */
    background-color: #2121C8;
    cursor: pointer; /* Cursor on hover */
    transition: 0.1s;
}

.algorithmProgress::-webkit-slider-thumb:hover {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20pt; /* Set a specific slider handle width */
    height: 20pt; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
}

.algorithmProgress::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.messageTray {
    min-width: 250pt;
    max-width: 250pt;
    padding: 10pt;
    border-top-right-radius: 5px;
}

.messageTrayText {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    padding: 5pt;
    text-wrap: normal;
    text-overflow: ellipsis;
}