:root {
    --timelineMargin: 10pt;
}

#algorithmController {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    /*border-radius: 8pt;*/
    border-top-right-radius: 8pt;
    border-top-left-radius: 8pt;
    margin: 15pt auto 0;
    padding: 10pt 15pt 5pt;
    /*background-color: rgba(0, 0, 0, 0.65);*/
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) 80%)
}

#exit_button {
    float: right;
    margin-top: -5pt;
    margin-right: -9.5pt;
    cursor: pointer;
}


input[type="range"] {
    -webkit-appearance: none;
    border-radius: 4pt;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    border-radius: 4pt;

    transition: 0.1s;
    border: 2pt solid #eee;
}


/* TUTORIAL */
#tutorialContainer {
    margin-right: 10pt;

    /*
      Verde: #00FA9A
      Laranja: #FF4500
      Sem borda: transparent
    */
    border: 2pt solid transparent;
    border-radius: 4pt;

    padding: 2pt;
    /*background-color: #FF04;*/
}

#tutorialContainer[highlighted="true"] {
    border: 2pt solid #00FA9A;
}

#tutorialContainer[warning="true"] {
    border: 2pt solid #FF4500;
}

#tutorialContainer > label {
    color: white;
    font-size: 13pt;
    /*font-weight: bold;*/
}

.separator {
    width: 100%;
    display: inline-block;

    border: 0;
    border-radius: 4pt;
    border-top: 2pt solid #eee;
}


/* CONTROLES */
#executionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /*background-color: #0F08;*/
}

/* Velocidade */
#speedContainer {
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: monospace;
    font-size: 14pt;
    color: white;

    /*background-color: #F008;*/
}

#speedContainer > label {
    margin-bottom: -5pt;
}

/* Timeline */
#timelineContainer {
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    /*background-color: #00F8;*/
}

.timelineButton {
    min-width: 22.5pt;
    min-height: 22.5pt;

    border: 2pt solid white;
    border-radius: 7pt;

    margin: 2pt;
    fill: #FFF;
    background-color: transparent;
}

.timelineButton:hover {
    fill: #FFF;
    background-color: #FFF4;
}

.timelineButton:active {
    fill: #000;
    background-color: #FFF;
}


#timelineInput {
    width: 70%;
    height: 8pt;

    border: solid 2pt white;

    margin-left: var(--timelineMargin);
}

#timelineInput::-webkit-slider-thumb {
    width: 14pt;
    height: 20pt;

    background-color: #9999FF;
}

#timelineInput::-webkit-slider-thumb:hover {
    background-color: #6C6CD9;
}

#timelineInput::-webkit-slider-thumb:active {
    background-color: #5959B3;
}


#speedInput {
    width: 100%;
    height: 5pt;

    border: solid 1pt white;

    margin-top: 9pt;
    margin-bottom: 9pt;
}

#speedInput::-webkit-slider-thumb {
    width: 13pt;
    height: 13pt;

    background-color: #555;
}

#speedInput::-webkit-slider-thumb:hover {
    background-color: #444;
}

#speedInput::-webkit-slider-thumb:active {
    background-color: #000;
}


/* Showcase de algoritmos */
#algorithmShowcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: -250pt;
    top: 100%;
    bottom: 100%;
    margin: auto 0;
    transition: left 0.1s ease-in-out;
    height: fit-content;
}

#algorithmShowcase:hover {
    left: 0;
}
#algorithmShowcase:hover #showcaseTab {
    width: 0;
    opacity: 0;
}

#showcaseContainer {
    width: 250pt;
    height: 75vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) 80%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    color:white;
}

#showcaseTab {
    width: 8pt;
    height: 50pt;
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: auto;
    transition: all 0.3s ease-in-out;
}

#showcaseTitle {
    text-align: center;
    flex: 0 1 auto;
}

#showcaseMessage {
    flex: 0 1 auto;
    height: 100pt;
    max-height: 100pt;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    border:3px solid white;
    border-radius: 5px;
}

#showcaseBody {
    flex: 1 1 auto;
}

#showcase {
    border-radius: 0;
    background: none;
}

