#showcaseContainer {
    width: 250pt;
    height: 75vh;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    color:white;
}

#showcaseTitle {
    text-align: center;
    flex: 0 1 auto;
}

#showcaseMessage {
    flex: 0 1 auto;
    height: 100pt;
    max-height: 100pt;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    border:3px solid white;
    border-radius: 5px;
}

#showcaseBody {
    flex: 1 1 auto;
    overflow: auto;
}

#showcase {
    border-radius: 0;
    background: none;
}